body{
    background-color: #141619;
    font-family: 'Inter', sans-serif;
}
/* navbar */
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.btn-gradient{
    background: linear-gradient(160deg, #665DCD, #5FA4E6, #D2AB67);
    padding: 17px 28.5px 19px 27px;
    border-radius: 2px;
    border: none;
}
.btn-gradient:hover{
    background: linear-gradient(60deg, #665DCD, #5FA4E6, #D2AB67);
}
/* about */
.bg-custom-gradient:hover{
    background: linear-gradient(160deg, #665DCD, #5FA4E6, #D2AB67);
    transform: scale(1.2);
    transition-timing-function: ease-in-out(.3s);
}
#about{
    position: relative;
}
#about::before{
    content: "";
    position: absolute;
    width: 1500px;
    height: 1500px;
    background-image: url(../images/background-blob-service-1.png);
    background-size: contain;
    top: -495px;
    left: -200px;
}
/* marketing */
#market{
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
}
/* partners */
#bg-partners{
    background-image: url(../images/pertners-corner.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: top left -190px;

}
/* join team */
#joinOurTeam{
    background-image: url(../images/div\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center left 185px;
    background-size: 480px;
}
/* contact info */
#contactBg{
    background-image: url(../images/contact.png);
    background-position: center -87px;
    background-repeat: no-repeat;
    background-size: 985px;

}
/* carousel */
#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next{
    bottom: unset;
    top: 114px;
    left: 49%;
    transform: translate(-50%,0);
    width: 50px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
}
#carouselExampleIndicators .carousel-control-prev{
    margin-right: 60px;
}
#carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon{
    background-image: url("../images/lefticon.svg");
}
#carouselExampleIndicators .carousel-control-next{
   margin-left: 60px;
}
#carouselExampleIndicators .carousel-control-next .carousel-control-next-icon{
    background-image: url("../images/righticon.svg");
}
/* indicators */
#carouselExampleIndicators .carousel-indicators{
    margin-bottom: 0;
    bottom: -80px;
}
#carouselExampleIndicators .carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}